body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
}
a{
    color: #909090;
    text-decoration: none;
}
.conrainer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
h1,h2,h3,h4,h5,h6
{
    margin: 0;
}
.grid{
    max-width:970px ;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sto{
   margin-bottom: 100px;
}
.sixtie{
    margin-bottom: 60px;
}
.twenty{
    margin-bottom: 280px;
}
/* read */
.read{
    margin-top: -43px;
}
.read a{
    margin-left: 85%;
    width: 120px;
    justify-content: right;
    text-align: right;
    color:#ECB84C;
}
.read::after{
    margin-left: 10px;
    content:">>";
    color:#ECB84C;
} 
.top-photo{
    align-items: center;
    left: 0;
    width: 100%;
    height: 80vh;
    position: relative;
   background: linear-gradient(0deg, rgba(247, 116, 98, 0.252661), rgba(247, 116, 98, 0.252661)), 
   linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),
   linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),
   url("img/header.png") center no-repeat;
   background-blend-mode: color, normal;
   background-size: cover; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: white;
}
/* head */
.head{
    text-align: center;
    align-items: center;
}
.header-title{

width: 100%;
height: 227px;
font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 200px;
line-height: 227px;
display: block;
text-align: center;
margin-top: 15%;
padding-bottom: 125px;
color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.header-subtitle{
    width: 100%;
    padding-top: 0px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    position: relative;
}
.header-subtitle-text{
padding-top: 110px;
font-size: 24px;
font-family: 'Georgia';
    font-style: normal;
    line-height: 27px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}
.header-subtitle-psevdo:after{

    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color:#ECB84C;
    left:0;
    z-index: 1;
}
.frame{
    width: 100%;
    max-width: 1490px;
    height: 714px;
    border: solid #ECB84C;
    border-width: 2px 2px 0px 2px;
    position: absolute;

}
/* nav */
.menu{
    margin-top: 15px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}
nav{
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.nav-link{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    text-decoration: none;

    transition:color .1s linear;
    position:relative;
    
}
.nav-link:hover{
    color: #4E5665;
}
.nav-link:active{
    color: #4E5665;
}
.nav-link:active:after{
    display: block;
    color: #ECB84C;
}
.nav-link:after
{
    content: "";
    width: 100%;
    height: 3px;
    display: none;
    background-color: #ECB84C;
    position: absolute;
    top: 100%;
    left:0;
    z-index: 1;
}
.nav-link:hover:after{
    display: block;
    color: #ECB84C;
}
/* section */
.section{
    padding: 80px auto;
    text-align: center;
justify-content: center;
}
.section-title{
    width: 100%;
    height: 38px;
    top: 0px;
    /* margin-left: 38%; */
    display: block;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    text-align: center;

    color: #4E5665;
}
.section-text{
    width: 970px;
height: 84px;
top: 78px;
margin: 0 auto;
font-family: 'Tahoma';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: left;
display: grid;
color: #505050;
}

/* vacation */
.vacation{
    width: 1250px;
    height: 130px;
    margin: 0 auto;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #505050;
    padding:  70px 0;
    border-bottom: 2px solid #D0D4D8;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
}
.vacation-item{
text-align: center;
}
.vacation-item-one{
    text-align: right;
}
.vacation-item-two{
    text-align: center;
    padding-left: 50px;
} 
 .vacation-item-three{
    text-align: center;
    padding-right: 50px;
}
.vacation-item-four{
    text-align: left;
}
.vacation-text{
    height: 10px;
    padding: 0;
    font-size: 22px;
    color: #4E5665;
    font-weight: 400;
}
.vacation-subtext{
    font-size: 14px;
}
.vacation-text-rewiews{
   margin-top: -10px;
    padding: 0;
    font-size: 22px;
    color: #4E5665;
    font-weight: 400;
}
.vacation-subtext-rewiews{
    font-size: 14px;
}


/* blocks */
.block{
    max-width: 470px;
    max-height: 428px;
    background-color: #FFFFFF;
}
.one{
    z-index: 1;
    margin: 70px -70px 0 0;
    text-align: left;
    width: 470px;
    height: 289px;
}
.one p{
    max-width: 390px;
    margin: 30px;
    color: #505050;
    Font-family: Tahoma;
    Font-size: 16px;
    line-height: 28px;

}
.one h4{
    margin: 30px;
    color: #4E5665;
    font-family: Georgia;
    Font-size: 24px;
    



}
.first h4::before{
    margin-top: -20px;
    margin-left: -20px;
    position: absolute;
    border-top: 3px solid #ECB84C;
    border-left: 3px solid #ECB84C;
    width: 30px;
    height: 30px;
    content: " ";
    color: #ECB84C;
}
.first p::after{
    margin-left: 100px;
    position: absolute;
    border-bottom: 3px solid #ECB84C;
    border-right: 3px solid #ECB84C;
    width: 30px;
    height: 30px;
    content: " ";
    color: #ECB84C;
}
.two{
    max-width: 570px;
    max-height: 428px;
}
.sec{
    margin-left: -50px;
}
.sec h4:after{
    margin-top: -10px;
    margin-left: 140px;
    position: absolute;
    border-right: 3px solid #ECB84C;
    border-top: 3px solid #ECB84C;
    width: 30px;
    height: 30px;
    content: " ";
    color: #ECB84C;
}
.sec p::before{
    margin-top: 150px;
    margin-left: -20px;
    position: absolute;
    border-bottom: 3px solid #ECB84C;
    border-left: 3px solid #ECB84C;
    width: 30px;
    height: 30px;
    content: " ";
    color: #ECB84C;
}
/* cadilac */
.cadilac{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1170px;
    height: 731px;
    background: url("img/Cadillac.jpg") center no-repeat;
    
}
.cadilac--element{
    content: " ";
    background-color:  rgba(236, 184, 76, 60%);
    width: 32px;
    height: 32px;
    border-radius: 180px;
}
.onee{
    margin-top: 70px;
    margin-left: 120px;
}
.toow{
    margin-top: 60px;
    margin-left: 70px;
}
.free{
    margin-top: 30px;
    margin-left: -15px;
}
.cadilac--secelement{
    content: " ";
    margin: 10px auto;
    opacity: 100%;
    background-color: #ECB84C;
    border: 1px solid #ECB84C;
    width: 10px;
    height: 10px;
    border-radius: 180px;
}
.four{
    margin-left: 215%;
}
.cadilac--text{
    margin-top: 200px;
    margin-left: 20px;
    margin-bottom: -120px;
    border-left:2px solid #ECB84C;
    rotate: 25deg;

}
.cadilac--text p{
    rotate: -25deg;
    margin-top: -47px;
    margin-left: -13px;
    border-bottom: 2px solid #ECB84C;
    width: 150px;
}
.shadow{
    margin-top: -200px;
}